* {
      box-sizing: border-box;
      font-family: Arial, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.locations-view{
    text-align: left;
    padding: 0px;
    overflow: auto;
    height: 100vh;
}

.location-item {
	background-color: transparent;
	border: none;
}

#map {
    height: 100%;
    bottom:0px;
    position: absolute;
    right: 0px;
}

#filter-location-text{
	width: 70%;
}

#filter-location{
	width: 28%;
	max-width: 100px;
}