* {
      box-sizing: border-box;
      font-family: Arial, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.locations-view {
    text-align: left;
    padding: 0px;
    overflow: auto;
    height: 100vh;
    background: #000000;
}

.header-locations {
	margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 25px;
    color: #a5a2a2;
}

.location-item {
	background-color: transparent;
	border: none;
	color: #a5a2a2;
}

.location-item:hover {
	background-color: #333333;
	color: #e5c3c3;
}

.hamburger-link {
    margin: 10px;
    margin-left: 20px;
    font-size: 20px;
}

.hamburger-bar {
	background: #1c262f;
	padding: 0px;
	height: 7vh;
}

.map-container {
	padding: 0px;
	height: 93vh;
}

/*To take the entire width when listview is hidden*/
.map-container-max {
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
    bottom: 0px;
    position: absolute;
    right: 0px;
    top: 7vh;
}

#filter-location-text{
	width: 60%;
	margin-left: 5px;
}

/*InfoWindow*/

.iw-container {
    overflow: hidden;
}

.info-container{
    margin: 10px;
}

.iw-title {
    max-width: 250px;
}

.iw-container  .iw-title {
   font-size: 18px;
   padding: 10px;
   background-color: #5e8792;
   color: white;
   border-radius: 2px 2px 0 0;
}

/* The element that wraps the infowindow has the class .gm-style-iw*/
.gm-style-iw {
    top: 0 !important;
    left: 0 !important;
    border-radius: 2px 2px 10px 10px;
}

/*ipad screens*/
@media screen and (max-width: 800px) {

    .header-locations {
        margin-bottom: 15px;
        margin-left: 15px;
        font-size: 26px;
    }

    #filter-location-text {
        width: 80%;
        font-size: 16px;
    }

    .location-item {
        font-size: 16px;
    }

    .hamburger-link {
        margin: 10px;
        font-size: 20px;
    }
}

/*Small screens*/
@media screen and (max-width: 500px) {

    .header-locations {
        font-size: 24px;
    }

    #filter-location-text {
        font-size: 14px;
    }

    .location-item {
        font-size: 14px;
    }

    .hamburger-link {
        margin: 10px;
        margin-left: 15px;
        font-size: 18px;
    }
}